<a href="https://colab.research.google.com/github/AftabUdaipurwala/HRAnalytics/blob/Code/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
!ls '/content/drive/MyDrive/py-master/ML/1_linear_reg'

1_linear_regression.ipynb  error_equation.jpg  linear_equation.png
areas.csv		   Exercise	       linearReg.py
different_lines.JPG	   homeprices.csv      prediction.csv
equation.PNG		   homepricetable.JPG  scatterplot.JPG

In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('/content/drive/MyDrive/py-master/ML/1_linear_reg/homeprices.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000